@import "./variables.scss";

.stars {
  margin-left: 10pt;
  white-space: nowrap;
  .star {
    color: $accent-color;
  }
  .star-inactive {
    color: $secondary-background;
  }
}
.nowrap {
  white-space: nowrap;
}

.skill-tag {
    background-color: lighten($background, 10%) !important;
}

.tags-centered {
    justify-content: center;
}
