@import "./variables.scss";

.stars {
  margin-left: 10pt;
  white-space: nowrap;
  .star {
    color: $accent-color-2;
  }
  .star-inactive {
    color: #000;
  }
}

.nowrap {
  white-space: nowrap;
}

.skill-tag {
  background-color: darken($accent-color-2, 30%) !important;
}

.tags-centered {
  justify-content: center;
}

.skill-col {
  min-height: 20vh;
}
