// Importing variables
@import "./variables.scss";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";

@import "./parallax.scss";



.has-background {
  background: linear-gradient(to bottom, #000, $secondary-background);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$footer-glow : darken($accent-color-2, 20%);

.footer {
  min-height: 30vh;
  background: linear-gradient(
    to bottom,
    $secondary-background,
    $footer-glow
  );
  display: flex;
  padding: 1.5rem 1.5rem;
  line-height: 1.5rem;
  a {
    border-bottom: 1px solid;
    color: black;
  }
  a:hover {
    color: $secondary-color;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.about {
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.button-download {
    color: darken($white, 10%);
    border: none;
    background: none;
    padding: 20px;
    &:hover {
        color: $accent-color;
        border-color: $accent-color;
        transition: color 0.1s;
    }
}
