@import "./variables.scss";

$rotate: 5deg;

.a-block {
  background: $accent-gradient;
  height: 30vh;
  display: table;
  width: 100%;
  .a-content {
    margin: auto;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}
