// VARIABLES

$primary-color: rgb(255, 56, 96);
$secondary-color: #6f2232;
$accent-color : #ec38bc; 
$accent-color-2 : #7303c0; 
$accent-gradient : linear-gradient(to right, #ff8a00, #da1b60);

$text-color : rgba(255, 255, 255, 0.8);
$text : rgba(255, 255, 255, 0.8);
$background : #000000;
$secondary-background : #03001e;

$body-background-color : $background;
$title-color : $text-color;
$text-strong : $text-color;
$box-background-color: $background;
$hero-bg : $accent-gradient;
